/* ===== MODAL DE COMPRA ===== */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0009;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal.hidden {
  display: none;
}

.modal-content {
  background: #1a1a1d;
  padding: 25px;
  width: 90%;
  max-width: 400px;
  border-radius: 15px;
  box-shadow: 0 0 20px #00ff9d55;
  animation: fadeIn 0.5s ease;
  text-align: center;
}

.modal-sub {
  margin: 10px 0;
  color: #ccc;
}

.metodos-pago {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 15px 0;
}

.metodos-pago label {
  background: #ffffff;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #00ff9d33;
}

.metodos-pago input {
  margin-right: 10px;
}

.btn-confirmar {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: linear-gradient(90deg,#00ff9d,#00bfff);
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.btn-cerrar {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #333;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
}

.modal-msg {
  margin-top: 12px;
  font-weight: bold;
  color: #00ff9d;
}
